<head>
  <link rel="stylesheet" href='bootstrap.min.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <h1>Pi GPIO App</h1>
    <h3>GPIO</h3>
    <% puts "this is the index file" %>

    <div class="btn-group-vertical" role="group" aria-label="Mix it up">

      <form action="/mix">
       <button type="submit" class="btn btn-default btn-lg btn-success"> 
         <span aria-hidden="true"></span>Mix</button>
      </form>

      <form action="/spark">
       <button type="submit" class="btn btn-default btn-lg btn-danger"> 
         <span aria-hidden="true"></span>Spark</button>
      </form>
    
    </div>


   </div>
 </body>