<p>this is the mix view</p>
<% puts "this is from the mix view" %>
<% pin = PiPiper::Pin.new(:pin => 22, :direction => :out)  %>
<% pin.on  %>
<% sleep 2  %>
<% pin.off  %>
<% puts "now going into the JS" %>
<script type="text/javascript">
    window.location.href="/"
</script>
<% puts "now coming out the js" %>

