<!--
#pin = PiPiper::Pin.new(:pin => 22, :direction => :out)
#pin.on
#sleep 0.2
#pin.off
-->
<p>this is the mix view</p>
<% puts "this is the mix from the mix route" %>
<% sleep 2.5  %>
<% puts "now going into the JS" %>
<script type="text/javascript">
    window.location.href="/"
</script>
<% puts "now coming out the js" %>

